.main {
    max-height: 90%;

    .title {
        font-weight: bold;
        font-size: medium;
        margin: 3%;
    }

    .hr {
        padding: none;
    }

    .informations {
        display: flex;
        flex-wrap: wrap;
        margin: 3%;

        div {
            margin-left: 5%;

            p {
                margin: 3%;
                font-size: 12.61px;
            }
            
            input {
                margin-left: 3%;
            }

            img {
                position: absolute;
                margin: -1.60em 0 0 9.25em;
                border-left: 1px solid grey;
                padding: 4.5px;
            }

            .arrow {
                margin-top: -1.5em;
                border: none;
                transition: .3s;
            }
        }

        .midInformations {
            margin: 10% 1%;
            display: flex;
            flex-wrap: wrap;
            
            .expense {
                margin-left: 27%;
            }
        }

        .staticInformations {
            width: 55%;
        }

        .obs {
            margin: 5% 1.9%;

            textarea {
                width: 28em;
                height: 10em;
            }
        }
    }
}