@import '../preDefinitions.scss';

.table {
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    .field {
        @include border10px;
        background-color: #f0f0f0;
        font-weight: $font-weight;
    }

    .subField {
        @include border10px;
        background-color: #ffffff;
    }
}