@import '../preDefinitions.scss';

.informations {
    padding: 3em 3em;

    .button {
        text-align: center;
        margin-top: 1.5em;
    }

    button {
        &:active {
            background-color: $background-color;
        }
    }
}