@import '../preDefinitions.scss';

.loginInformations {
    margin: 11% 31% 0; //revisar

    button {
        display: $display;
        margin: 30px auto;
        background-color: rgb(37, 150, 190);
        color: white;
        padding: $margin;
        border: none;
        border-radius: 5px;
        transition: .1s;

        &:active {
            background-color: rgb(27, 112, 143);
        }
    }
}