@import '../preDefinitions.scss';

.loginInformations {
    text-align: center;

    button {
        margin: 1.5em 0;

        @media (max-width: 550px) {
            button {
                padding: 2.5%;
            }
        }
    }
}