@import '../preDefinitions.scss';   

.topInformations {
    display: $display;
    flex-wrap: wrap;
    justify-content: space-around;

    .main {
        p {
            margin: $margin;
            font-size: 12.61px;
        }
        
        input {
            margin-left: $margin;
        }
    
        img {
            position: absolute;
            margin: -1.60em 0 0 9.25em;
            border-left: 1px solid grey;
            padding: 4.5px;
        }
    
        .arrow {
            margin-top: -1.5em;
            border: none;
            transition: .3s;
        }
    }
}