@import '../preDefinitions.scss';   

.topInformations {
    display: $display;
    flex-wrap: wrap;
    justify-content: space-around;

    .main {
        p {
            margin: $margin;
            font-size: 12.61px;
        }
        
        input {
            margin-left: $margin;
        }
        
        select {
            margin-left: $margin;
        }
    }
}